<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body class="wrapper">
    <header>
        <div class="container">
            <div class="header-data">
                <div class="logo">
                    <a href="index.html" title=""><img src="~/Assets/images/logo.png" alt=""></a>
                </div>
                
              
                <div class="menu-btn">
                    <a href="#" title=""><i class="fa fa-bars"></i></a>
                </div>
                <div class="user-account">
                    <div class="user-info">
                        <img src="~/Assets/images/resources/user.jpg" style="height:30px;width:30px" alt="">
                            <a href="#" title="">Acc</a>

                        <i class="fas fa-sort-down"></i>
                    </div>
                    <div class="user-account-settingss">
                        <h3>Online Status</h3>
                        <ul class="on-off-status">
                            <li>
                                <div class="fgt-sec">
                                    <input type="radio" name="cc" id="c5">
                                    <label for="c5">
                                        <span></span>
                                    </label>
                                    <small>Online</small>
                                </div>
                            </li>
                            <li>
                                <div class="fgt-sec">
                                    <input type="radio" name="cc" id="c6">
                                    <label for="c6">
                                        <span></span>
                                    </label>
                                    <small>Offline</small>
                                </div>
                            </li>
                        </ul>
                        <h3>Custom Status</h3>
                        <div class="search_form">
                            <form>
                                <input type="text" name="search">
                                <button type="submit">Ok</button>
                            </form>
                        </div>
                        <h3 class="tc"><a href="@Url.Action("Logout", "Home")" title="">Logout</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="forum-sec">
        <div class="container">
            <div class="forum-links">
                <ul>
                    <li class=" @if (Request.Params["mode"] == "all") {@Html.Raw("active")}"><a href="@Url.Action("Index","Home")?mode=all" title="">Total</a></li>
                    <li class="@if (Request.Params["mode"] == "popular") {@Html.Raw("active")}"><a href="@Url.Action("Index","Home")?mode=popular" title="">Popular</a></li>
                    <li class="@if (Request.Params["mode"] == "topview") {@Html.Raw("active")}"><a href="@Url.Action("Index","Home")?mode=topview" title="">Top View</a></li>
                </ul>
            </div>
            <div class="forum-links-btn">
                <a href="#" title=""><i class="fa fa-bars"></i></a>
            </div>
        </div>
    </section>
    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <div class="footy-sec mn no-margin">
            <div class="container">
                <ul>
                    <li><a href="help-center.html" title="">Help Center</a></li>
                    <li><a href="about.html" title="">About</a></li>
                    <li><a href="#" title="">Privacy Policy</a></li>
                    <li><a href="#" title="">Community Guidelines</a></li>
                    <li><a href="#" title="">Cookies Policy</a></li>
                    <li><a href="#" title="">Career</a></li>
                    <li><a href="forum.html" title="">Forum</a></li>
                    <li><a href="#" title="">Language</a></li>
                    <li><a href="#" title="">Copyright Policy</a></li>
                </ul>
                <p><img src="~/Assets/images/copy-icon2.png" alt="">Copyright @DateTime.Now.Year</p>
                <img class="fl-rgt" src="~/Assets/images/logo2.png" alt="">
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/slick")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
